<style>
div {
	position: absolute;
	cursor: move;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: 0px 0px 120px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 120px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 120px 0px rgba(0,0,0,0.4);
    left: 20px;
    padding: 20px;
    background: black;
    border-radius: 10px;
    color: white;
}
#all {
	top: 20px;
}
#y {
	top: 120px;
}
#x {
	top: 220px;
}

#allc {
	top: 320px;
}

#allcg {
	top: 430px;
}

#allcgb {
	top: 570px;
}
</style>

<div id="all">I can move in all directions.</div>
<div id="y">I can only move on the Y axis.</div>
<div id="x">I can only move on the X axis.</div>

<div id="allc">I can move in all directions.
<br>And collide with other draggable objects.</div>

<div id="allcg">I can move in all directions.
<br>And collide with other draggable objects.
<br>And i wont jump to the cursor.</div>

<div id="allcgb">I can move in all directions.
<br>And collide with other draggable objects.
<br>And i wont jump to the cursor.
<br>And i cant be dragged out of the window</div>

<script>
/**
 * Draggable made by milan44
 * 
 * https://gitlab.com/milan44
 */
!function(){function e(e){var t=e.getBoundingClientRect(),n=0,o=0,l=window.innerWidth,d=window.innerHeight;return t.bottom<d&&t.top>n&&t.left>o&&t.right<l}function t(e,t){var n=e.getBoundingClientRect(),o=document.getElementsByClassName("draggable_collider");for(x=0;x<o.length;x++)if(rect=o[x].getBoundingClientRect(),overlap=n.right>rect.left&&n.left<rect.right&&n.top<rect.bottom&&n.bottom>rect.top,overlap&&o[x]!=e&&o[x]!=t)return!1;return!0}e(document.getElementById("all")),window.draggable=function(n){var o=n.element,l=n.collide,d=n.glide,i=n.border,c=!1,r=0,s=0,u=!0;function a(e){for(var t=0,n=0;null!=e;t+=e.offsetLeft,n+=e.offsetTop,e=e.offsetParent);return{x:t,y:n}}function f(){return o}o.classList.add("draggable_collider"),o.ondblclick=function(){u=!u},o.onmousedown=function(e){c=!0,pos=a(f()),r=pos.x-e.clientX,s=pos.y-e.clientY},document.addEventListener("mouseup",function(){c=!1}),document.addEventListener("mousemove",function(n){if(c&&u){el=f().cloneNode(!0),el.style.opacity="0",el.classList.add(Date.now()),document.body.appendChild(el);var o=n.clientX+r+"px",p=n.clientY+s+"px";el.style.left=o,el.style.top=p,!t(el,f())&&l||!e(el)&&i?d&&(pos=a(f()),r=pos.x-n.clientX,s=pos.y-n.clientY):(f().style.left=o,f().style.top=p),document.body.removeChild(el)}})},window.draggableX=function(n){var o=n.element,l=n.collide,d=n.glide,i=n.border,c=!1,r=0,s=!0;function u(e){for(var t=0,n=0;null!=e;t+=e.offsetLeft,n+=e.offsetTop,e=e.offsetParent);return{x:t,y:n}}function a(){return o}o.classList.add("draggable_collider"),o.ondblclick=function(){s=!s},o.onmousedown=function(e){c=!0,pos=u(a()),r=pos.x-e.clientX},document.addEventListener("mouseup",function(){c=!1}),document.addEventListener("mousemove",function(n){if(c&&s){el=a().cloneNode(!0),el.style.opacity="0",el.classList.add(Date.now()),document.body.appendChild(el);var o=n.clientX+r+"px";el.style.left=o,!t(el,a())&&l||!e(el)&&i?d&&(pos=u(a()),r=pos.x-n.clientX):a().style.left=o,document.body.removeChild(el)}})},window.draggableY=function(n){var o=n.element,l=n.collide,d=n.glide,i=n.border,c=!1,r=0,s=!0;function u(e){for(var t=0,n=0;null!=e;t+=e.offsetLeft,n+=e.offsetTop,e=e.offsetParent);return{x:t,y:n}}function a(){return o}o.classList.add("draggable_collider"),o.ondblclick=function(){s=!s},o.onmousedown=function(e){c=!0,pos=u(a()),r=pos.y-e.clientY},document.addEventListener("mouseup",function(){c=!1}),document.addEventListener("mousemove",function(n){if(c&&s){el=a().cloneNode(!0),el.style.opacity="0",el.classList.add(Date.now()),document.body.appendChild(el);var o=n.clientY+r+"px";el.style.top=o,!t(el,a())&&l||!e(el)&&i?d&&(pos=u(a()),r=pos.y-n.clientY):a().style.top=o,document.body.removeChild(el)}})}}();
</script>
<script>
var config = {
	element: document.getElementById("all")
};

draggable(config);

config.element = document.getElementById("y");

draggableY(config);

config.element = document.getElementById("x");

draggableX(config);

config.element = document.getElementById("allc");
config.collide = true;

draggable(config);

config.element = document.getElementById("allcg");
config.glide = true;

draggable(config);

config.element = document.getElementById("allcgb");
config.border = true;

draggable(config);
</script>