<meta charset="utf-8">

<style>
    #player {
        display: inline-block;
        margin-left: 50vw;
        transform: translateX(-50%) translateY(-50%);
        margin-top: 50vh;
    }
</style>

<div id="player">
    
</div>

<script src="player.portable.min.js" type="text/javascript"></script>
<script>
    var play = new player("testvideo.mp4", "#player", true);
    play.create();
</script>

<script>
    
</script>