<meta charset="utf-8">
<!--<link rel="stylesheet" href="player.css" />-->

<style>
    #player {
        margin-left: 25%;
    }
</style>

<div id="player">
    
</div>

<script src="player.portable.min.js" type="text/javascript"></script>
<script>
    var play = new player("testvideo.mp4", "#player", true);
    play.create();
</script>

<script>
    
</script>